# Weekly Video Compilation

**Period:** {{ start_date }} to {{ end_date }}
**Total Videos:** {{ total_videos }}

---

{% for video in videos %}
* {{ video.index }}. [{{ video.timestamp }}] {{ video.title }}
{% endfor %}
